<!DOCTYPE html>

{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>OAS - FAQ</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}"/>
  </head>

  <body>
    <header class="navbar global-header">
      <a href="#">
        <img class="nav-logo" src="{% static 'images/logo.png' %}" alt="online-attendance-system"/>
      </a>
    </header>

    <section class="section section-center">
      <h1>FAQ for Changing Password</h1>
      <br>

      <h2>1. How to change your password?</h2>
      <p>1. <b>Wait until attendance starts:</b> Your teacher needs to activate attendance before you can change your password.</p>
      <p>2. <b>Find your name:</b> Once attendance is open, look for your name in the <b>Student name</b> dropdown menu.</p>
      <p>3. <b>Click <i>Change Password</i>:</b> You'll see a <b>Change Password</b> below <b>Present</b> button. Click it!</p>
      <p>4. <b>Enter your old and new passwords:</b> A new window will appear. Type your current password in the <b>Old password</b> box, then your new password twice in the <b>New password</b> boxes.</p>
      <p>5. <b>Click "Change Password":</b> Click the button to save your new password.</p>
      <p>6. <b>Take note of your new password:</b> A box will show your new password. Take a screenshot or write it down somewhere safe!</p>

      <br>

      <img src="{% static 'images/change_password.png' %}" alt="change-password" style="width: 500px; height: 600px;">
      <br>
      <img src="{% static 'images/screenshot.png' %}" alt="screenshot-password" style="width: 500px; height: 500px;">

      <br><br>
      <h2>2. What is my default password?</h2>
      <p>The default password is <b>abc123</b>. However, you can't use it to mark attendance. Follow the above steps to change it to a new password you choose.</p>

      <br><br>
      <h2>3. I forgot my password.</h2>
      <p>Did you save it? Check if you took a screenshot or wrote down your new password when you changed it last time.</p>
      <p>Still stuck? Contact the CS Department for help.</p>

      <br><br>
      <h2>4. How to automatically entered password?</h2>
      <p>To avoid typing your password every time, you can save it in your browser. When you enter your new password and click <b>Preset</b> button, your browser will ask to save it. Click Save, and next time you open the attendance page, your password will be filled in automatically!</p>
      <br>
      <img src="{% static 'images/save-password.png' %}" alt="save-password" style="width: 450px; height: 200px;">
    </section>

    <footer class="footer">
      <p>&copy; 2022-23 Prof. Vilash D. Daate</p>
    </footer>
  </body>
</html>