{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OAS {% block title %}{% endblock title%}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}"/>
  {% block css %}
  {% endblock css %}
</head>
<body>
  <nav class="navbar">
    <div class="nav-center">
      <div class="nav-header">
        <a href="/" class="nav-logo">
          <img src="{% static 'images/logo.png' %}" alt="online-attendance-system"/>
        </a>
        <button type="button" class="nav-toggle fas fa-bars" id="nav-toggle"></button>
      </div>

      <div class="nav-links" id="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="{% url 'attendance:classes' %}" class="nav-link">
          Classes
        </a>
        <a href="{% url 'attendance:report' %}" class="nav-link">
          Reports
        </a>
        <a href="{% url 'profiles:teacher' %}" class="nav-link">
          Teachers
        </a>
        <a href="{% url 'profiles:student' %}" class="nav-link">
          Students
        </a>
        <a href="{% url 'attendance:attendances' %}" class="nav-link">
          Attendances
        </a>
      </div>
    </div>
  </nav>

  {% block content %}
  {% endblock content %}

  <footer class="footer">
    <p class="footer-text">Class URLs</p>
    <br>
    <table class="footer-table">
      <tr>
        <td><a href="{% url 'attendance:entry_new' %}?class=BCA1A">BCA I Year A Section</a></td>
        <td><a href="{% url 'attendance:entry_new' %}?class=BCA1B">BCA I Year B Section</a></td>
        <td><a href="{% url 'attendance:entry_new' %}?class=BCA2">BCA II Year</a></td>
        <td><a href="{% url 'attendance:entry_new' %}?class=BCA3">BCA III Year</a></td>
      </tr>
      <tr>
        <td><a href="{% url 'attendance:entry_new' %}?class=BSC1">BSC I Year</a></td>
        <td><a href="{% url 'attendance:entry_new' %}?class=BSC2">BSC II Year</a></td>
        <td><a href="{% url 'attendance:entry_new' %}?class=BSC3">BSC III Year</a></td>
        <td><a href="{% url 'attendance:entry_new' %}?class=MSC2">MSC II Year</a></td>
      </tr>
    </table>
    <br>
    <p class="footer-text">&copy; 2022-2024 Prof. Vilash D. Daate</p>
  </footer>

  <script src="{% static 'js/base.js' %}"></script>
</body>
</html>