{% extends 'base_public.html' %}

{% load static %}

{% block title %}
Student Password Change
{% endblock title %}


{% block content %}
<section class="section section-center">
  <div class="inside-container">
    <div class="section-title">
      <h2>Change Password</h2>
    </div>

    <div class="normal-separator-20px"></div>

    {% if messages %}
      <ul class="alert-info" style="list-style: none;">
        {% for message in messages %}
          <li style="color: {% if message.tags == 'success' %}green{% else %}red{% endif %};">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="" method="post" id="passwordChangeForm">
      {% csrf_token %}
      {{ form.as_p }}

      <label>
        <input type="checkbox" id="showPasswordCheckbox" style="width: 20px;height: 20px;margin-right: 0.5rem;">Show Password
      </label><br><br>
      <button class="btn btn-danger" type="submit">Change Password</button>
    </form>

  </div>
</section>

<script>
  // JavaScript to toggle password visibility
  const showPasswordCheckbox = document.getElementById('showPasswordCheckbox');
  const passwordFields = document.querySelectorAll('input[type="password"]');

  showPasswordCheckbox.addEventListener('change', function() {
    passwordFields.forEach(field => {
      field.type = showPasswordCheckbox.checked ? 'text' : 'password';
    });
  });

  const form = document.getElementById('passwordChangeForm');
  form.addEventListener('submit', function(event) {
    const oldPassword = document.getElementById("id_old_password");
    const newPassword = document.getElementById("id_new_password");
    const confirmPassword = document.getElementById("id_confirm_password");

    // Clear previous validation errors
    oldPassword.style.borderColor = "";
    newPassword.style.borderColor = "";
    confirmPassword.style.borderColor = "";

    // Check if new password and confirm password match
    if (newPassword.value !== confirmPassword.value) {
      event.preventDefault(); // Prevent form submission
      newPassword.style.borderColor = "red";
      confirmPassword.style.borderColor = "red";
      alert("New password and confirm password do not match.");
    }

  });
</script>
{% endblock content %}
