{% extends '_base.html' %}

{% load static %}

{% block title %}
  - Student Edit
{% endblock title %}

{% block content %}
<section class="section section-center">
  <a href="{% url 'profiles:student' %}">&lt; Back to list</a>
  <div class="normal-separator-20px"></div>

  <div class="inside-container">
    <div class="section-title">
      <h2>Edit student</h2>
    </div>

    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}

      <button class="btn btn-primary" type="submit">Update</button>
    </form>
  </div>
</section>
{% endblock content %}
