{% extends '_base.html' %}

{% load static %}

{% block title %}
  - New Teacher
{% endblock title %}

{% block content %}
<section class="section section-center">

  <a href="{% url 'profiles:teacher' %}">&lt; Back to list</a>
  <div class="normal-separator-20px"></div>

  <div class="inside-container">
    <div class="section-title">
      <h2>Add new teacher</h2>
    </div>

    <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </div>

</section>
{% endblock content %}
