{% extends '_base.html' %}

{% load static %}
{% load time_slot_filters %}

{% block title %}
  - Teacher
{% endblock title %}

{% block css %}
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock css %}

{% block content %}
<section class="section section-center">

  <a href="{% url 'profiles:teacher' %}">&lt; Back to list</a>
  <div class="normal-separator-20px"></div>

  <p>Teacher name:</p>
  <h1>{{ teacher.name }}</h1>

  <div class="normal-separator-20px"></div>

  <a class="btn btn-danger" href="{% url 'profiles:teacher_edit' teacher.pk %}">
    Edit Teacher
  </a>

  <hr class="hr-line ">
  <h2>Teacher attendance history</h2>
  <div class="normal-separator-20px"></div>

  <div class="search-form">
    <form class="flex-contents" method="get" action="">
      <div class="search-field">
        <label for="selected-month">Select Month</label>

        <select name="month" id="selected-month">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>

      <div class="search-field">
        <p>&nbsp;</p>
        <button class="btn btn-normal" type="submit">
          Show
        </button>
      </div>
    </form>

    <div class="search-status">
      <h3>Total theory classes: <b>{{ total_theory }}</b></h3>
      <h3>Total practical classes: <b>{{ total_practical }}</b></h3>
    </div>
  </div>

  {% if attendance_list %}
    <table class="tbl-data">
      <tr>
        <th>Month</th>
        <th>Date</th>
        <th>Class</th>
        <th>Subject</th>
        <th>Time Slot</th>
        <th>Total students</th>
      </tr>
      {% for attend in attendance_list %}
        <tr>
          <td><b>{{ attend.att_date|date:"F" }}</b></td>
          <td>{{ attend.att_date }}</td>
          <td>{{ attend.class_full_name }}</td>
          <td>{{ attend.subject_name }}</td>
          <td>
            {% if attend.time_slot.all %}
              {{ attend.time_slot.all|time_range }}
            {% endif %}
          </td>
          <td>{{ attend.total_students }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No attendance is found for given teacher!</p>
  {% endif %}
</section>

<script type="text/javascript">
  $(document).ready(function () {
    // Get month name form month number
    let month_no = $(location).attr('search');

    if(month_no !== '') {
      // Remove extra text
      month_no = month_no.replace('?month=', '');
    }
    else {
      let d = new Date();
      month_no = d.getMonth()+1;
    }
    $("#selected-month").val(month_no).change();
  });
</script>
{% endblock content %}
