{% extends '_base.html' %}

{% load static %}

{% block title %}
  - New Attendance
{% endblock title %}

{% block css %}
<style>
  @media screen and (min-width: 992px) {
    select#id_teacher, select#id_time_slot {
      height: 100px;
    }
  }
</style>
{% endblock css %}

{% block content %}
<section class="section section-center">

  <div class="inside-container">
    <div class="section-title">
      <h2>Start attendance</h2>
    </div>
    <form id="attendance-form" action="" method="post" onsubmit="return confirmZeroStudents()">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-primary" type="submit">Start</button>

      <p class="danger-text">
        Note: Add exact <u>Total students</u> number, because attendance will not end
        until total and present students do not matched!
      </p>
    </form>
  </div>
</section>

<script>
  function confirmZeroStudents() {
    const totalStudentsField = document.getElementById("id_total_students");
    if (totalStudentsField && totalStudentsField.value == "0") {
      return confirm("You have entered 0 students. Are you sure you want to proceed?");
    }
    return true;
  }
</script>
{% endblock content %}
