{% extends '_base.html' %}

{% load static %}
{% load get_class_name %}
{% load time_slot_filters %}

{% block title %}
  - All Attendances
{% endblock title %}

{% block css %}
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock css %}

{% block content %}
<section class="section section-center">
  <div class="header-separator"></div>

  <div class="section-title">
    <h2>All attendance</h2>
  </div>

  <div class="search-form">
    <form class="flex-contents" method="get" action="">
      <div class="search-field">
        <label for="search-text">Search attendance</label>
        <input
            id="search-text"
            type="text"
            name="q"
            placeholder="Subject"/>
      </div>
      <div class="search-field">
        <p>&nbsp;</p>
        <button class="btn btn-normal" type="submit">
          Search
        </button>
      </div>
    </form>

    <form class="flex-contents" method="get" action="">
      <div class="search-field">
        <label for="selected-month">Filter by month</label>
        <select name="month" id="selected-month">
          <option value="1">January</option>
          <option value="2">February</option>
          <option value="3">March</option>
          <option value="4">April</option>
          <option value="5">May</option>
          <option value="6">June</option>
          <option value="7">July</option>
          <option value="8">August</option>
          <option value="9">September</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select>
      </div>

      <div class="search-field">
        <p>&nbsp;</p>
        <button class="btn btn-normal" type="submit">
          Show
        </button>
      </div>
    </form>
  </div>

  <div class="class-count-flex">
    {% if total_attend %}
      {% for record in total_attend %}
      <p>
        {{ record.class_name|get_class_name }}:
        <span>{{ record.total_class }}</span>
      </p>
      {% endfor %}
    {% endif %}
  </div>

  {% if attendance_list %}
    <table class="tbl-data detail-view">
      <tr>
        <th>Date</th>
        <th>Teachers</th>
        <th>Class</th>
        <th>Subject</th>
        <th>Time slot</th>
        <th>Total Students</th>
        <th>Active</th>
        {% if user.is_superuser %}
          <th></th>
        {% endif %}
      </tr>
      {% for attendance in attendance_list %}
      <tr>
        <td>
          {{ attendance.att_date }}
        </td>
        <td>
          <a href="{% url 'attendance:attendances_detail' attendance.pk %}" class="underline-me">
            {% for teacher_name in attendance.teacher.all %}
              {{ teacher_name }},
            {% endfor %}
          </a>
        </td>
        <td>{{ attendance.class_full_name }}</td>
        <td>{{ attendance.subject_name }}</td>

        <td>
          {% if attendance.time_slot.all %}
            {{ attendance.time_slot.all|time_range }}
          {% endif %}
        </td>

        <td>{{ attendance.total_students }}</td>
        {% if attendance.is_active %}
          <td>
            <img class="active-icon" src="{% static 'admin/img/icon-yes.svg' %}" alt="icon-yes">
          </td>
        {% else %}
          <td>
            <img class="active-icon" src="{% static 'admin/img/icon-no.svg' %}" alt="icon-no">
          </td>
        {% endif %}

        {% if user.is_superuser %}
          <td>
            <a href="{% url 'attendance:delete_attendance' attendance.id %}" class="danger-text">
              <i class="fas fa-trash"></i>
            </a>
          </td>
        {% endif %}

      </tr>
      {% endfor %}
    </table>

    <br />
    {% include "includes/pagination.html" %}
  {% else %}
    <p>No attendances are found!</p>
  {% endif %}
</section>

<script type="text/javascript">
  $(document).ready(function () {
    // Get month name form month number
    let month_no = $(location).attr('search');

    if(month_no !== '') {
      // Remove extra text
      month_no = month_no.replace('?month=', '');
    }
    else {
      let d = new Date();
      month_no = d.getMonth()+1;
    }
    $("#selected-month").val(month_no).change();
  });
</script>

{% endblock content %}
