{% extends '_base.html' %}

{% load static %}

{% block title %}
  - Classes
{% endblock title %}

{% block content %}
<section class="section section-center">

  <div class="section-title">
    <h2>Select class for attendance</h2>
  </div>

  <div class="class-box blue-box">
    <div class="box-heading blue-heading">BCA</div>
    <div class="box-content">
      <a href="{% url 'attendance:attendances_new' %}?class=BCA1A" class="btn btn-normal">
        BCA I Year (Section A)
      </a>
      <a href="{% url 'attendance:attendances_new' %}?class=BCA1B" class="btn btn-normal">
        BCA I Year (Section B)
      </a>

      <a href="{% url 'attendance:attendances_new' %}?class=BCA2" class="btn btn-normal">
        BCA II Year
      </a>

      <a href="{% url 'attendance:attendances_new' %}?class=BCA3" class="btn btn-normal">
        BCA Final Year
      </a>

      {% if active_bca %}
        <hr class="hr-line" />
        <h4 class="danger-text">
          Below classes attendance is still ACTIVE. Please click on class if you accidentally closed attendance page.
        </h4>
        <br />

        {% for item in active_bca %}
          <a href="{% url 'attendance:attendances_detail' item.pk %}"
          class="btn btn-danger">
            {{item.class_full_name}}
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="class-box blue-box">
    <div class="box-heading blue-heading">BSC</div>
    <div class="box-content">
      <a href="{% url 'attendance:attendances_new' %}?class=BSC1" class="btn btn-normal">
        BSC I Year
      </a>
      <a href="{% url 'attendance:attendances_new' %}?class=BSC2" class="btn btn-normal">
        BSC II Year
      </a>
      <a href="{% url 'attendance:attendances_new' %}?class=BSC3" class="btn btn-normal">
        BSC Final Year
      </a>

      {% if active_bsc %}
        <hr class="hr-line" />
        <h4 class="danger-text">
          Below classes attendance is still ACTIVE. Please click on class if you accidentally closed attendance page.
        </h4>
        <br />

        {% for item in active_bsc %}
          <a href="{% url 'attendance:attendances_detail' item.pk %}"
          class="btn btn-danger">
            {{item.class_full_name}}
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="class-box blue-box">
    <div class="box-heading blue-heading">MSC</div>
    <div class="box-content">
      <a href="{% url 'attendance:attendances_new' %}?class=MSC1" class="btn btn-normal">
        MSC I Year
      </a>
      <a href="{% url 'attendance:attendances_new' %}?class=MSC2" class="btn btn-normal">
        MSC Final Year
      </a>

      {% if active_msc %}
        <hr class="hr-line" />
        <h4 class="danger-text">
          Below classes attendance is still ACTIVE. Please click on class if you accidentally closed attendance page.
        </h4>
        <br />

        {% for item in active_msc %}
          <a href="{% url 'attendance:attendances_detail' item.pk %}"
          class="btn btn-danger">
            {{item.class_full_name}}
          </a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock content %}
