{% extends '_base.html' %}

{% load static %}
{% load get_monthly_data %}

{% block title %}
  - Completed Attendance Report
{% endblock title %}

{% block css %}
<style>
  .tbl-data {
    font-size: 0.725rem;
  }

  .tbl-data tr td {
    padding: 5px;
  }
</style>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock css %}

{% block content %}
<section class="section section-center">
  <div class="section-title">
    <h2>Monthly Attendance Report</h2>
  </div>

  <div class="search-form">
    <form class="flex-contents" method="get" action="">
      <div class="search-field">
        <label for="search-text">Select class</label>
        <select name="class" id="class-name">
          {% for code, name in CLASS_NAMES %}
            <option value="{{ code }}">{{ name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="search-field">
        <p>&nbsp;</p>
        <button class="btn btn-normal" type="button" onclick="showReport()">
          Show
        </button>
      </div>
    </form>

    <div class="flex-contents">
      <button class="btn btn-normal" type="button" id="exportAttendance">
        Export Complete Report
      </button>
    </div>
  </div>

  <div class="input-icons">
    <i class="fas fa-search icon"></i>
    <input type="search" class="search-textfield" name="search-names" id="search-names"
      oninput="filterName()" placeholder="Search student name"/>
  </div>

  {% if all_students_attendance %}
    <table class="tbl-data" id="report-table">
      <thead>
        <tr>
          <th>Student Name</th>
          {% for month in months %}
            <th>{{ month.name }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for student_data in all_students_attendance %}
          <tr>
            <td style="min-width: 270px">
              <strong>
              <a href="{% url 'profiles:student_detail' student_data.student.pk %}" class="underline-me">
                {{ student_data.student.name }}
              </a>
              </strong>
            </td>

            {% for month in months %}
              {% with month_data=student_data.monthly_attendance|get_monthly_data:month.num %}
                <td style="text-align: center; min-width: 100px">
                  {% if month_data %}
                    {{ month_data.present_percent }}
                  {% else %}
                    -
                  {% endif %}
                </td>
              {% endwith %}
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No class is selected</p>
  {% endif %}
</section>

<script type="text/javascript">
  $(document).ready(function () {
    let class_name = '{{class}}';
    let dropdown = $("#class-name");

    if (dropdown.find('option[value="' + class_name + '"]').length > 0) {
      dropdown.val(class_name).change();
    }
    else {
      dropdown.val('NO_CLASS').change();
    }
  });
</script>

<script type="text/javascript">
  function filterName() {
    let searchKey = document.getElementById("search-names").value;
    searchKey = searchKey.toLowerCase();

    let myTable = document.getElementById("report-table");
    let cellData;

    for (var i = 1, row; (row = myTable.rows[i]); i++) {
      cellData = row.cells[0].innerText;
      cellData = cellData.toLowerCase();

      if (searchKey == "") {
        row.classList.remove("hidden-field");
      } else if (cellData.search(searchKey) >= 0) {
        row.classList.remove("hidden-field");
      } else {
        row.classList.remove("hidden-field");
        row.classList.add("hidden-field");
      }
    }
  }

  function showReport() {
    let class_code = $("#class-name option:selected").val();
    window.location.href = "/attendances/complete_report/" + class_code + "/";
  }


  function exportTableToCSV(filename, totalCols=0) {
    var table = document.getElementById("report-table");

    // Extract table headers
    var headers = [];
    var rows = [];
    if(totalCols == 0) {
      totalCols = table.rows[0].cells.length
    }

    for (var i = 0; i < totalCols; i++) {
      tmpData = table.rows[0].cells[i].innerText.replace(',', '-')
      headers.push(tmpData);
    }

    // Extract table data
    for (var i = 1; i < table.rows.length; i++) {
      var row = [];
      for (var j = 0; j < totalCols; j++) {
        row.push(table.rows[i].cells[j].innerText);
      }
      rows.push(row);
    }

    // Create CSV data
    var csvData = "";
    csvData += headers.join(",") + "\n";
    for (var i = 0; i < rows.length; i++) {
      csvData += rows[i].join(",") + "\n";
    }

    // Create a blob object and download it
    var blob = new Blob([csvData], { type: "text/csv;charset=utf-8" });
    var link = document.createElement("a");
    link.href = URL.createObjectURL(blob);
    link.download = filename || "data.csv";
    link.click();
  }

  // Add event listener to the button
  document.getElementById("exportAttendance").addEventListener("click", function() {
    exportTableToCSV("attendance_report.csv");
  });
</script>
{% endblock content %}
