{% extends 'base_public.html' %}

{% load static %}
{% load time_slot_filters %}

{% block title %}
Student Attendance
{% endblock title %}

{% block css %}
  <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
{% endblock css %}

{% block content %}
  <section class="section section-center">
    <div class="inside-container">
      <div class="section-title">
        <h2>Attendance page</h2>
      </div>

      {% if not_active %}
        <div class="alert-info" role="alert">{{ not_active }}</div>

        <hr class="hr-line" />

        <div class="class-box golden-box">
          <div class="box-heading golden-heading">important study material</div>
          <div class="box-content">
            {% if ads %}
              <a href="{{ads.ads_url}}" target="_blank">
                <h3 class="ads-title">{{ads.title}}</h3>
                <br />
                <img
                  style="width: 100%" src="{{ads.image_url}}" alt="{{ads.title}}"/>
              </a>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if attendance %}
        <table class="tbl-details">
          <tr>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td>Date</td>
            <td><b>{{ attendance.att_date }}</b></td>
          </tr>

          <tr>
            <td>Class name</td>
            <td><b>{{ attendance.class_full_name }}</b></td>
          </tr>

          <tr>
            <td>Teachers name</td>
            <td><b>
              {% for teacher_name in attendance.teacher.all %}
                {{ teacher_name}}<br />
              {% endfor %}
              </b>
            </td>
          </tr>

          <tr>
            <td>Subject name</td>
            <td><b>{{ attendance.subject_name }}</b></td>
          </tr>

           <tr>
            <td>Time slot</td>
            <td><b>
              {% if attendance.time_slot.all %}
                {{ attendance.time_slot.all|time_range }}
              {% endif %}
              </b>
            </td>
          </tr>
        </table>

        <div class="normal-separator-20px"></div>

        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-primary" type="submit">
            Present
          </button>
        </form>

        <a id="id_change_pass">Change Password</a>

        <div class="change-password-container">
          <p class="input-label">Old password</p>
          <p class="input-field">
            <input type="password" name="old_pass" id="old_pass" />
          </p>

          <p class="input-label">New password</p>
          <p class="input-field">
            <input type="password" name="new_pass" id="new_pass" />
          </p>

          <p class="input-label">Confirm password</p>
          <p class="input-field">
            <input type="password" name="confirm_pass" id="confirm_pass" />
          </p>

          <input type="checkbox" onclick="showHidePassword()" style="width: 20px;height: 20px;margin-right: 0.5rem;">Show Password

          <span id="password-screenshot">
            <p id="pass-change-response"></p>
            <p id="new-password"></p>
          </span>
          <p id="success-message"></p>
          <br />

          <a id="btn-change-password" class="btn btn-danger">
            Change Password
          </a>
        </div>
      {% endif %}

      <a href="{% url 'profiles:faq_page' %}" style="color: blue; text-decoration: underline;">
        Instructions to change password
      </a>
    </div>
  </section>

  <script type="text/javascript">
    $(document).ready(function () {
      // Show/Hide Change Password container
      $("#id_change_pass").on("click", function () {
        $(".change-password-container").toggleClass("show-container");
      });

      // Change password method
      $("#btn-change-password").on("click", function () {
        //Check if new password and confirm password is same
        let old_pass = $("#old_pass").val();
        let new_pass = $("#new_pass").val();
        let confirm_pass = $("#confirm_pass").val();
        let student_id = $("#id_student option:selected").attr("value");

        // Check if student is selected from list
        if (student_id == "") {
          alert("Please select your name form list to change password.");
        }
        //Check if password is not empty
        else if (old_pass == "" || new_pass == "" || confirm_pass == "") {
          alert("Please enter password to change.");
        } else if (new_pass != confirm_pass) {
          alert("New password and confirm password is not matched!");
        } else if (old_pass == new_pass) {
          alert("Old password and new password is same!");
        } else {
          $.ajax({
            url: "{% url 'profiles:change_password_ajax' %}",
            type: "GET",
            data: {
              student_id: student_id,
              old_pass: old_pass,
              new_pass: new_pass,
            },
          }).done(function (response) {
            $("#pass-change-response").text(response.message_txt);
            if (response.status == "success") {
              $("#pass-change-response").removeClass("error-para");
              $("#pass-change-response").addClass("success-para");
              $("#new-password").text(new_pass);
              $("#new-password").addClass("highlight-password");
              $("#success-message").text("The password screenshot will be downloaded. Click on DOWNLOAD FILE to Save.");
              takeScreenshot();
            } else {
              $("#pass-change-response").removeClass("success-para");
              $("#pass-change-response").addClass("error-para");
            }

            $("#old_pass").val("");
            $("#new_pass").val("");
            $("#confirm_pass").val("");
          });
        }
      });
    });
  </script>

  <script>
    function showHidePassword() {
      var x = document.getElementById("old_pass");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }

      var y = document.getElementById("new_pass");
      if (y.type === "password") {
        y.type = "text";
      } else {
        y.type = "password";
      }

      var z = document.getElementById("confirm_pass");
      if (z.type === "password") {
        z.type = "text";
      } else {
        z.type = "password";
      }
    }

    function takeScreenshot() {
      const divElement = document.querySelector('#password-screenshot');

      html2canvas(divElement).then((canvas) => {
        const imgData = canvas.toDataURL('image/png');
        const link = document.createElement('a');
        link.href = imgData;
        link.download = 'my-password.png';
        link.click();
      });
    }
  </script>
{% endblock content %}
