{% extends 'base_public.html' %}

{% load static %}

{% block title %}
Student Attendance
{% endblock title %}

{% block content %}
  <section class="section section-center">
    <div class="inside-container">
      <div class="section-title">
        <h2>Attendance page</h2>
      </div>

      <h3>Download OAS Students Android app from Google PlayStore!</h3>
      <br>
      <p>
        <a style="color: blue; text-decoration: underline;"
            href="https://play.google.com/store/apps/details?id=com.vpktechnologies.oasstudents">
          Download <b>OAS Students</b> from PlayStore
        </a>
      </p>
    </div>
  </section>
{% endblock content %}
